<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CSV 2 DB Importer</title>
    <link rel="icon" href="./images/logo.png">
    <link rel="stylesheet" href="./styles/style.css">

    <!--BOXICONS-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <div class="wrapper">

        <div class="navbar">

            <div class="headernav">
                <a href="/">
                    <h1> <i class='bx bxs-data'></i> CSV<span>2</span> DB Importer</h1>
                </a>
            </div>

            <!-- <div class="profilenav">
                <a id="loginName" href="/login"><button>Login <i class='bx bx-log-in'></i></button></a>

                <a id="loginIcon" href="/login"> <i class='bx bx-log-in'></i> </a>
            </div> -->

        </div>

        <div class="content">

            <div class="para">

                <h2>Efficient Data Management system with Our DB Importer</h2>

                <p>Effortlessly convert CSV files into structured data for seamless database integration. Our tool
                    simplifies large dataset imports while ensuring accuracy. Experience the power of our CSV-Parser
                    your essential solution for streamlined data management.
                </p>

                <a id="homeRegister" href="/login">
                    <button> Get Started
                        <i class='bx bx-chevrons-right bx-flashing'></i>
                    </button>
                </a>

            </div>

        </div>

    </div>

</body>